// Place all the styles related to the api/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-container {
    color: white;
    h1 {
        color: white;
    }
    
    .comedy-container {
        display: flex;
        flex-direction: column;
        // border-color: red;
        // border-style: solid;
    
        .genre-title {
            color: white;
            // border-color: red;
            // border-style: solid;
        }
    
        .comedy-movies {
            color: white;
            border-color: red;
            border-style: solid;
            display: flex;
            padding: 0;
            &:hover {
                .movie-item {
                transform: translateX(-25%);
                }
            }
            
    
            .movie-item {
                color: white;
                border-color: red;
                border-style: solid;
                text-decoration: none;
                list-style: none;
                flex: 0 0 19.7%;
                text-align: center;
                margin: 0 2px;
                transition: transform 300ms ease 100ms;
                
                &:hover {
                    transform: scale(1.5) !important;
                }
                &:hover ~ .movie-item {
                    transform: translateX(25%);
                }


            }
    
        }
    }
}

.movie-popout {
    margin-top: 40px;
    height: 300px;
    position: relative;
    width: 100vw;
}

.popout-bg {
    display: flex;
    height: 100%;
}


.popout-left {
    background: black;
    width: 30%;
    position: relative;
}

.popout-left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
}

.popout-right {
    width: 70%;
}

.popout-content { 
  border-color: red;
  border-style: solid;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  width: 100%;
}



// .comedy-container {
//     display: flex;
//     flex-direction: column;
//     border-color: red;
//     border-style: solid;
// }

// .comedy-movies {
//         color: white;
//         border-color: red;
//         border-style: solid;
//         display: flex;
// }

// .comedy-movies:hover .movie-item {
//     transform: translateX(-25%);
// }

// .movie-item {
//     color: white;
//     border-color: red;
//     border-style: solid;
//     text-decoration: none;
//     list-style: none;
//     flex: 0 0 19.7%;
//     text-align: center;
//     margin: 0 2px;
//     transition: transform 300ms ease 100ms;
// }

// .movie-item:hover {
//     transform: scale(1.5) !important;
// }

// .movie-item:hover ~ .movie-item {
//     transform: translateX(25%);
// }


