// Place all the styles related to the api/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-container {
    color: white;
    h1 {
        color: white;
    }
    
    .comedy-container {
        display: flex;
        flex-direction: column;
        // border-color: red;
        // border-style: solid;
    
        .genre-title {
            color: white;
            // border-color: red;
            // border-style: solid;
        }
    
        .comedy-movies {
            color: white;
            // border-color: red;
            // border-style: solid;
            display: flex;
            padding: 0;
            
            &:hover {
                .movie-item {
                transform: translateX(-35%);
                }
            }
            
    
            .movie-item {
                color: white;
                // border-color: red;
                // border-style: solid;
                // position: relative;
                text-decoration: none;
                list-style: none;
                // flex: 0 0 19.7%;
                text-align: center;
                margin: 0 2px;
                transition: transform 300ms ease 100ms;

                
                &:hover {
                    transform: scale(1.5) !important;
                }
                &:hover ~ .movie-item {
                    transform: translateX(35%);
                }

                link {
                    font-size: 100px;
                }

                .popout-btn {
                    position: absolute;
                    left: 100px;
                    top: 100px;
                }

               
                
            }
    
        }
    }
}

.movie-popout {
    // margin-top: 40px;
    position: relative;
    // width: 1800px;
    // height: 580px;
    // height: 50vh;
    // width: 100vw;
}

.popout-bg {
    display: flex;
    // height: 100%;
    // border-color: red;
    // border-style: solid;
    // width: 1800px;
    width: 93.7vw;
    // height: 580px;
    height: 62vh;

}




.popout-left {
    background: black;
    width: 40%;
    position: relative;
}

.popout-left h1 {
    font-size: 450%;
    margin-left: 13%;
}
.popout-left h2 {
    font-size: 250%;
    margin-left: 13%;
}

.popout-left h3 {
    font-size: 100%;
    margin-left: 13%;
}

.popout-left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
}

.popout-right {
    width: 70%;
}

.popout-video {
    width: 66vw;
    height: 62vh;
    margin-left: 9%;
}

.popout-right button {
    position: absolute;
}

.show-container {
    
}

.show-movie {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.index-movie {
    width: 100vw;
    height: 60vh;
   
}


.show-pg-index-link {
    font-size: 150%;
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    text-decoration: none;
}

// .comedy-container {
//     display: flex;
//     flex-direction: column;
//     border-color: red;
//     border-style: solid;
// }

// .comedy-movies {
//         color: white;
//         border-color: red;
//         border-style: solid;
//         display: flex;
// }

// .comedy-movies:hover .movie-item {
//     transform: translateX(-25%);
// }

// .movie-item {
//     color: white;
//     border-color: red;
//     border-style: solid;
//     text-decoration: none;
//     list-style: none;
//     flex: 0 0 19.7%;
//     text-align: center;
//     margin: 0 2px;
//     transition: transform 300ms ease 100ms;
// }

// .movie-item:hover {
//     transform: scale(1.5) !important;
// }

// .movie-item:hover ~ .movie-item {
//     transform: translateX(25%);
// }


