//NavBar--------------------------------------------------------------
 .nav-bar-container {
     display: flex;
     justify-content: space-between;
    

    .nav-right {
        display: flex;
        align-items: center;
        color: white;
        justify-content: flex-end;
       
        h1 {
            width: 27vw;
            max-width: 350px;
            font-size: 120%;
            margin-top: 1%;
            margin-left: 2%;
            
        }
        .nav-bar-mylist {
            color: white;
            margin-right: 4%;
            margin-left: 1%;
            text-decoration: none;
            font-size: 120%;
        }
        
        .nav-bar-mylist:hover {
            color: rgb(155, 155, 155);
        }

        .nav-bar-movies {
            color: white;
            margin-right: 1%;
            margin-left: 1%;
            text-decoration: none;
            font-size: 120%;
        }
        
        .nav-bar-movies:hover {
            color: rgb(155, 155, 155);
        }

        .nav-anchors {
            margin: 0 2%;
        }
        
        .nav-bar-linkedin {
            color: white;
            margin-right: 2%;
            margin-left: 2%;
            text-decoration: none;
            font-size: 120%;
        }
        
        .nav-bar-linkedin:hover {
            color: #2867B2
        }

        .nav-bar-github {
            color: white;
            margin-right: 2%;
            margin-left: 2%;
            text-decoration: none;
            font-size: 120%;
        }
        
        .nav-bar-github:hover {
            color: rgb(252, 175, 32);
        }

        .nav-logout{
            background-color: #E50914;
            color: white;
            padding: 0;
            font-size: 100%;
            padding-right: 0.8%;
            padding-left: 0.8%;
            text-decoration: none;
            border-radius: 15px;
            border-color: #E50914;
            height: 4vh;
            width: 5vw;
            margin-right: 3.8%;
            box-shadow: 0 4px rgb(146, 1, 8);
        }
        .nav-logout:hover {
            background-color: rgb(255, 0, 0);
        }

        .nav-logout:active {
            background-color: rgb(255, 0, 0);
            box-shadow: 0 3px #666;
            transform: translateY(3px);
        }
        

        .search-bar-container {
            display: flex;
            // margin-right: 3%;
            border: 1px solid white;
            border-radius: 2px;
            
            .search-bar-input {
                height: 20px;
                border-width: 0px;
                background-color: black;
                color: white;
                
                &:focus {
                    outline-width: 0;
                }
            }
            
            .search-icon {
                // border-color: white;
                border: none;
                color: white;
                background-color: black;
            }
        }
    }

    .splash-login-link{
        background-color: #E50914;
        color: white;
        padding: 0.5em;
      
        // padding-right: 0.8%;
        text-decoration: none;
        border-radius: 15px;
      
        // height: 3vh;
        // width: 3.5vw;
        width: 3.5%;
        height: 100%;
        text-align: center;
        margin-right: 3.8%;
        box-shadow: 0 4px rgb(146, 1, 8);
         
    }
    .splash-login-link:hover {
        background-color: rgb(255, 0, 0);
     }

    .splash-login-link:active {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 3px #666;
        transform: translateY(3px);
    }
 }



