//NavBar--------------------------------------------------------------
 .nav-bar-container {
     display: flex;
     justify-content: space-between;
    

    .nav-right {
        display: flex;
        align-items: center;
        color: white;
        justify-content: flex-end;
        h1 {
            width: 15vw;
            font-size: 135%;
            margin-bottom: 0%;
            margin-top: 1%;
            
        }
        .nav-bar-mylist {
            color: white;
            margin-right: 3%;
            margin-left: 3%;
            text-decoration: none;
            font-size: 120%;
        }

        .nav-logout{
            background-color: #E50914;
            color: white;
            padding: 0;
            font-size: 100%;
            padding-right: 0.8%;
            text-decoration: none;
            border-radius: 15px;
            border-color: #E50914;
            height: 5vh;
            width: 5vw;
            margin-right: 3.8%;
            box-shadow: 0 4px rgb(146, 1, 8);
        }
        .nav-logout:hover {
            background-color: rgb(255, 0, 0);
        }

        .nav-logout:active {
            background-color: rgb(255, 0, 0);
            box-shadow: 0 3px #666;
            transform: translateY(3px);
        }
        

        .search-bar-container {
            display: flex;

            .search-bar-input {
                height: 25px;
                border-width: 0px;
            }
            
            .search-icon {
                border-color: white;
            }
        }
    }

    .splash-login-link{
        background-color: #E50914;
        color: white;
        padding: 0.6em;
      
        padding-right: 0.8%;
        text-decoration: none;
        border-radius: 15px;
        //  height: 20px;
        height: 3vh;
        //  width: 50px;
        width: 3.5vw;
        //  margin-right: 50px;
        margin-right: 3.8%;
        box-shadow: 0 4px rgb(146, 1, 8);
         
    }
    .splash-login-link:hover {
        background-color: rgb(255, 0, 0);
     }

    .splash-login-link:active {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 3px #666;
        transform: translateY(3px);
    }
 }



