.search-index-container {
    width: 100vw;
    height: 100vh;
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
        .search-item {
            margin: 1% 1%;

            &:hover {
                transform: scale(1.2);
            }

           
            .search-movie {
                
            }
        }
    }
}