.search-index-container {
    width: 100vw;
    height: 100vh;
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
        .search-item {
            position: relative;
            margin: 1% 1%;

            &:hover {
                transform: scale(1.2);
            }

           
           .search-play-btn {
               position: absolute;
               left: 0%;
               top: 35%;

               font-size: 110%;
               color: grey;
               background-color: transparent;
               border: none;

               &:hover {
                   color: red;
               }
           }

           .search-plus-btn {
               position: absolute;
               right: 0%;
               top: 35%;

               font-size: 110%;
               color: grey;
               background-color: transparent;
               border: none;

               &:hover {
                   color: red;
               }
           }

            .search-mute-btn {
                position: absolute;
                right: 0%;
                bottom: 3%;
                background-color: transparent;
                border: none;
                font-size: 120%;
                color: grey;
            }
            
            .search-mute2-btn {
                position: absolute;
                right: 0%;
                bottom: 3%;
                color: white;
                background-color: transparent;
                border: none;
                font-size: 120%;
            }
        }
    }

    .search-message {
        color: white;
        margin-left: 3.5%;
    }
    .search-word {
        color: white;
        margin-left: 3.5%;
    }
}